.main {
  width: 275px;
  height: 125px;
  margin: auto;
}
.main >>> .el-form-item__label {
  text-align: left;
}
.main >>> .el-input__inner {
  height: 26px;
  width: 225px;
}
.main >>> .el-form-item {
  margin: 0;
}
.el-date-editor >>> .el-range__icon {
  line-height: 0px;
}
.el-date-editor >>> .el-range-separator {
  line-height: 20px;
  color: #c0c4cc;
}
.Dialog >>> .el-dialog__footer {
  text-align: center;
}
.main >>> .el-form-item__content {
  margin-left: 0px !important;
}
.main >>> .el-form-item {
  display: flex;
  align-items: center;
}
.main >>> .el-form-item {
  line-height: 0px;
}
.main >>> .el-form-item__label {
  padding: 0;
  line-height: 22px;
}
.main >>> .el-date-editor .el-range__close-icon {
  line-height: 20px;
}
.main >>> .el-form-item__error {
  top: 73%;
}
